.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    padding: 12px;
}

.header,
.footer {
    background: #1F2937;
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    justify-content: space-between;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    padding-left: 100px;
    padding-top: 12px;
    padding-bottom: 100px;
}

.links {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 15px;
    padding-right: 100px;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    color: #E5E7EB;

}

. {
    display: flex;
    flex-direction: row;
    background: #1F2937;
    justify-content: center;
}

.hero-text {
    padding-top: 100px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.hero {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-bottom: 12px;
}

.hero-sub {
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    font-size: 18px;
    padding-bottom: 12px;
}

img {
    max-width: 500px;
    height: auto;
    padding-right: 100px;
    padding-bottom: 100px;
}

button {
    color:#F9FAF8;
    background-color: #3882f6;
    padding: 7px;
    margin: 0;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    
}

.information {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

}

.subheading {
    display: flex;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.quote-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7eb;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;

}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
}

.quote-attribution {
    display: flex;
    font-size: 20px;
    font-weight: 800;
    align-self: flex-end;
}

.cta {
    background-color: #3882f6;
    margin: 100px;
    padding: 50px 25px;
}

.cta-title,
.cta-desc {
    display: flex;
    flex-direction: column;
}

.sign-up-2 {
    display: flex;
    align-self: baseline;
}